<h1>New Game</h1>
<hr>
  <table class="table">
    <tr>
      <%@letters.each do |letter|%>
      <td class="td"><%="#{letter}" %></td>
      <%end%>
    </tr>
  </table>
<form class="form" action="/score">
  <input class="input" type="text" placeholder="word">
  <input class="button" type="submit" value="Submit">
</form>
