/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: helvetica;
  margin: auto 200px;
}

.table {
  display: flex;
  justify-content: center;
  border-spacing: 10px;
  margin-top: 24px;
}

.td {
  background-color: #2A99D6;
  border-radius: 6px;
  box-shadow: 2px 2px 3px grey;
  text-align: center;
  width: 36px;
  height: 36px;
  margin: 24px;
  color: white;
}

h1 {
  margin-left: 24px;
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  width: 50%;
  padding: 8px;
}

.button {
}
